<section class="project-section">
  <!-- 4W's Training -->
  <div class="container project-block">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="/images/4ws_mock.png" alt="4W's Training" class="img-fluid rounded shadow-sm">
        <ul class="tools-list">
          <li>Articulate Storyline 360</li>
          <li>Articulate Review</li>
          <li>Storyboard</li>
          <li>Closed Captioning</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="project-title">The 4W's Training</h2>
        <p>
          I took the storyboard provided and used it as a guide to develop an interactive mini-course. This course is designed to be visually and mentally stimulating, with a variety of design elements incorporated to keep participants engaged.
        </p>
        <p><strong>Client:</strong> The Instructional Design Company</p>
        <a href="https://paulkniazinstructionaldesign.s3.us-east-2.amazonaws.com/4Ws+Training+arreglar/story.html" class="project-button">4W's Training</a>
      </div>
    </div>
  </div>

  <!-- Getting Started with SEA -->
  <div class="container project-block">
    <div class="row align-items-center flex-md-row-reverse">
      <div class="col-md-6">
        <img src="/images/ipad_4ws.png" alt="Getting Started with SEA" class="img-fluid rounded shadow-sm">
        <ul class="tools-list">
          <li>Articulate Rise 360</li>
          <li>Articulate Review</li>
          <li>Storyboard</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="project-title">Getting Started with SEA</h2>
        <p>
          I turned a storyboard into a mini-course on conservation. This course incorporated diverse visual design components and instructional materials, along with a knowledge assessment.
        </p>
        <p><strong>Client:</strong> The Instructional Design Company</p>
        <a href="https://paulkniazinstructionaldesign.s3.us-east-2.amazonaws.com/content+5/index.html#/lessons/tBAyzOnPL3AG2BtKsAfq3TW7OjQqF3OG" class="project-button">Getting Started with SEA</a>
      </div>
    </div>
  </div>

