<section class="hero-banner">
  <h1>Welcome</h1>
</section>

<div class="intro-row">
  <div class="intro-text-block">
    <h1 class="welcome-heading">Hi, I'm Paul Kniaz!</h1>
    <p class="intro-text">
      I'm an instructional designer, educator, and licensed interpreter from the south coast of Massachusetts.
      I have experience with a wide range of programs and software.
    </p>
    <h3 class="signature">Paul Kniaz</h3>
  </div>

  <img src="/images/pk_smile.jpg" alt="Paul Kniaz smiling outdoors" class="hero-photo">
</div>


<div class="skills">
  <div class="skills-organize">
  <h2 class="skills-header">Skills</h2>
  <p class="skills_descript">
    Creating visually and educationally rich projects, meeting learner needs, employing LMS systems and course creation software.</p>
    </div>

      <img src="/images/nb-ocean.jpg" alt="Paul Kniaz smiling outdoors" class="skills-photo">
    
</div>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Work</h1>
      <p>
        <a href="/contact" class="btn btn-primary my-2">Get in Touch</a>
        <a href="/projects" class="btn btn-secondary my-2">See My Work</a>
      </p>
    </div>
  </section>


      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.album -->
</main>
