<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/translator.png" alt="translator image" width="140" height="140">
            <h2>Translator</h2>
            <p>This app lets you translate almost any PDF and automatically saves the translated content as a .txt file for easy access and reuse.</p>
            <p><a class="btn btn-secondary" href="/projects/translator" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/habits.png" alt="habits image" width="140" height="140">
            <h2>Habit Tracker</h2>
            <p>This minimalist habit tracker helps you build consistency by letting you log daily goals with a simple checkbox. Visual progress updates and clean design make staying accountable a little easier, one day at a time.</p>
            <p><a class="btn btn-secondary" href="/projects/habit-tracker" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/pdf_speech.png" alt="pdf speak image" width="140" height="140">
            <h2>PDF to Speech</h2>
            <p>Coming soon: This tool turns any PDF into speech — perfect for learners, multitaskers, or anyone who prefers listening. Upload a file, and hear it read aloud with natural-sounding audio.</p>
            <p><a class="btn btn-secondary" href="/projects/pdf-to-speech" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/jobsearch.png" alt="Job Scraper" width="140" height="140">
            <h2>Job Scraper</h2>
            <p>This browser app scrapes jobs for you from a list of lesser known but still--I'm told--stellar jobsites. It can also email you the results.</p>
            <p><a class="btn btn-secondary" href="/projects/job-scraper-and-emailer" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          

        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->
        
        <hr class="featurette-divider">
        <h2 class="welcome-heading">Other News:</h2>
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">100 Days of Python. <span class="text-muted">A Long, Long Journey.</span></h2>
            <p class="lead">I recently completed the 100 Days of Python — though for me, it was more like 300. What started as a coding challenge turned into a long, winding journey through web apps, automation, and problem-solving. It took time, but the growth was real.</p>
          </div>
          <div class="col-md-5">
           <img class="featurette-image img-fluid mx-auto" src="/images/100.png" alt="100 Days of Python">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">instructional Design Certification. <span class="text-muted">Just One of Many Badges.</span></h2>
            <p class="lead">I’m sharing one of my instructional design certifications from the Instructional Design Company. The course was a deep dive into adult learning theory, course creation, and practical tools — a valuable step in building learning experiences that actually work.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/images/cert_idc.png">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Finished a HELLISH school year. Trying to recover and not burn too badly at the beach.😉</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/images/beachdays.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>