<div class="container text-center py-5">
  <h1 class="display-4 mb-3 text-success">Thank You!</h1>
  <p class="lead">Your message has been successfully sent. We’ll get back to you soon.</p>
  <img src="/images/duck.gif" alt="Donald Duck Thank You GIF" class="img-fluid mb-2" style="max-width: 400px;" />
    <a href="/" class="btn btn-outline-primary align-self-end mb-2">Return to Home</a>
</div>
