<section class="san-fran-banner">
  <h1>Websites Etc</h1>
</section>

<div class="container my-5">
  <div class="instructor-led-banner">
      <div class="row align-items-start g-4">
        <div class="col-md-4">
          <img class="ilt-image img-fluid w-100 rounded" src="/images/mock_add.png" alt="New England Map">
        </div>

        <div class="col-md-8">
          <h1 class="header-ilt">Website for New England Catholics</h1>
          <p class="web-description">
            This website is geared towards helping Catholics in New England find each other.
          </p>
         <p style="text-align: left;"><strong>Tools:</strong> Python, Flask, SQLAlchemy</p>
          <div class="text-start mt-4">
            <a href="https://drive.google.com/..." class="web-button">View Website</a>
          </div>
        </div>
      </div>
    </div>
</div>

